<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
       #tb.table {
    border-collapse: collapse;
    width: 1000px;
}
        body{background:#E0FFFF}
		#save_button {
    width: 180px;
	position: relative;
	
	margin:5px;
}

 #pa{
            width:350px;
			position: relative;
        }
		
		.jumbotron{
			background-color:#E0FFFF;
		}
    </style>
    <title>EmployeeSystem</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Employee System</a>
    </div>
  </div>
</nav>
<div class="jumbotron text-center">
<center>
<div class="container-fluid">
<div class="row">
    <div class="col-xs-12">
   
        <div class="panel panel-primary" id="pa">
		<div class="panel-heading"><h2>Login</h2></div>
            <div class="panel-body">

				
				
				{% if form.has_errors %}
				<div class="text-danger">
					<font color="red"><p >UserName and Password did not Matched Please Try again Later!!</p></font>
				</div>
				{% endif %}

				<form method="post" action="" id="fo">{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" class="btn btn-primary btn-lg" id="save_button" value="Login"/>

				</form>
			
    </div></div>
    </div>
</div>
</div>
</center>
</div>
</body>

</html>